@import url('https://fonts.googleapis.com/css2?family=Libertinus+Mono&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
	font-family: "Roboto Mono", monospace;
	font-optical-sizing: auto;
	background-color: #eff1f5;
	color: #4c4f69;
	accent-color: #8839ef;
	@media (prefers-color-scheme: dark) {
		background-color: #1e1e2e;
		color: #cdd6f4;
		accent-color: #cba6f7;
	}
}

#content {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	@media (width < 56rem) {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
#show {
	flex-grow: 1;
}
#content .vertical-line {
	@media (width < 56rem) {
		display: none;
	}
}
.vertical-line {
	margin: 30px 0;
	width: 1px;
	background-color: #7c7f93;
	@media (prefers-color-scheme: dark) {
		background-color: #9399b2;
	}
}

h1 {
	text-align: center;
}
h2 {
	text-align: center;
}

body,
main,
#show,
#top,
#katze,
.portfolio-eintrag details,
.portfolio-eintrag figure {
	display: flex;
	flex-direction: column;
	align-items: center;
}

main {
	margin: 0 50px;
	@media (width < 48rem) {
		margin: 0 50px;
	}
}

#top {
	top: 0;
	width: 40%;
	background: linear-gradient(180deg, rgb(239, 241, 245) 0%, rgba(255, 255, 255, 0) 100%);
	@media (prefers-color-scheme: dark) {
		background: linear-gradient(180deg, rgba(30, 30, 46, 1) 0%, rgba(255, 255, 255, 0) 100%);
	}
}

footer {
	margin: 65px 20px 30px 20px;
	text-align: center;
}
footer,
footer a {
	color: #7c7f93;
	@media (prefers-color-scheme: dark) {
		color: #9399b2;
	}
}
footer > hr {
	width: 300px;
}

a {
	color: #8839ef;
	@media (prefers-color-scheme: dark) {
		color: #cba6f7;
	}
}

.card {
	margin: 5px;
	padding: 5px;
	border-radius: 20px;
	background-color: #ccd0da;
	@media (prefers-color-scheme: dark) {
		background-color: #313244;
	}
}

#bio {
	margin: 30px 0;
	min-width: 320px;
	max-width: fit-content;
	ul {
		margin: 0 15px;
		padding: 15px;
		list-style-type: none;
	}
	a {
		text-decoration: none;
	}
}

@media (width >= 56rem) {
	#top {
		position: fixed;
	}
	#bio {
		margin: 220px 0 0 0;
	}
}
#katze > img {
	animation: katze 4s ease-out infinite;
	height: 100px;
}
@keyframes katze {
	0% {
		transform: scaleX(1);
	}
	50% {
		transform: scaleX(2);
	}
	100% {
		transform: scaleX(1);
	}
}

#skills {
	text-align: center;
	padding: 20px;
	line-height: 250%;
}
.skill {
	border-radius: 6px;
	padding: 5px 10px;
	font-weight: bold;
	white-space: nowrap;
}

.bg-pink,
.bg-orange,
.bg-yellow,
.bg-blue {
	color: #11111b;
}
.bg-red,
.bg-green,
.bg-darkblue,
.bg-purple,
.bg-text {
	color: #dce0e8;
	@media (prefers-color-scheme: dark) {
		color: #11111b;
	}
}
.bg-pink {
	background-color: #ea76cb;
}
.bg-red {
	background-color: #d20f39;
}
.bg-orange {
	background-color: #fe640b;
}
.bg-yellow {
	background-color: #df8e1d;
}
.bg-green {
	background-color: #40a02b;
}
.bg-blue {
	background-color: #04a5e5;
}
.bg-darkblue {
	background-color: #1e66f5;
}
.bg-purple {
	background-color: #8839ef;
}
.bg-text {
	background-color: #4c4f69;
}
@media (prefers-color-scheme: dark) {
	.bg-pink {
		background-color: #f5c2e7;
	}
	.bg-red {
		background-color: #f38ba8;
	}
	.bg-orange {
		background-color: #fab387;
	}
	.bg-yellow {
		background-color: #f9e2af;
	}
	.bg-green {
		background-color: #a6e3a1;
	}
	.bg-blue {
		background-color: #89dceb;
	}
	.bg-darkblue {
		background-color: #89b4fa;
	}
	.bg-purple {
		background-color: #cba6f7;
	}
	.bg-text {
		background-color: #cdd6f4;
	}
}

#portfolio {
	max-width: 650px;
	margin: 15px 20px
}

.portfolio-eintrag details:open {
	margin: 0 0 1px 0;
	border: 2px dashed #9ca0b0;
	@media (prefers-color-scheme: dark) {
		border-color: #6c7086;
	}
}
.portfolio-eintrag details,
.portfolio-eintrag figure {
	margin: 0;
	padding: 15px;
	text-align: justify;
}
.portfolio-eintrag summary {
	font-size: large;
	text-align: center;
	color: #8839ef;
	@media (prefers-color-scheme: dark) {
		color: #cba6f7;
	}
}
.portfolio-eintrag img {
	width: 100%;
	max-width: 300px;
}
.portfolio-eintrag figcaption {
	margin: 10px;
	text-align: center;
	font-size: small;
	color: #6c6f85;
	@media (prefers-color-scheme: dark) {
		color: #a6adc8;
	}
}
